* {
    margin: 0px;
    padding: 0px;
 }

 .container {
    display: flex;
    background-color: gray;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    
    

 }
 .bloco {
   background: white;
   padding: 40px;
   width: 200px;
   height: 700px;
   gap: 20px;
  
   
 }
 .box {
    width: 200px;
    height: 200px;
    margin-bottom: 60px;
    
    
 }

 .red {
    background-color: red;
    

 }
 .black {
    background-color: black;
    
 }

 .yelow {
    background-color: yellow;
 }