* {
    margin: 0px;
 }

 .container {
    display: flex;
    background-color: gray;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    
    

 }
 .coluna {
    
 }
 .box {
    width: 200px;
    height: 200px;
    
 }

 .red {
    background-color: red;

 }
 .black {
    background-color: black;
    
 }

 .yelow {
    background-color: yellow;
 }